@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 60vh;
    --card-width: 60vh;
}

.card {
    background-image: url(../img/inicial.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 5% 5% 0 0;
}

.card::before {
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 50%;
    background-image: linear-gradient(var(--rotate), #e90a63 43%, #1c023b);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@media (max-width: 1300px) {

    .card{
        margin:15% 0 auto;
    }
    :root {
        --card-height: 40vh;
        --card-width: 40vh;
    }
}
@media (max-width: 600px) {
    :root {
        --card-height: 30vh;
        --card-width: 30vh;
    }
}
@media (max-width: 900px) {
    .content {
        flex-direction: column;
        text-align: center;
    }
}