body {
    background-color: #000;
    background-image: linear-gradient(50deg, #0e0e0e 0%, #1d1e1f 60%, #0e0e0e 100%);
    font-size: 14px;
    padding: 0;
    text-align: justify;
}

h2 {
    margin-top: 10%;
}

.certificates-section {
    text-align: center;
    padding: 10rem 2rem;
}

.certificates-section-header {
    margin: 0 auto 3rem auto;
    font-size: 4rem;
}

.certificates-section {
    margin-bottom: 3%;
}

.certificates-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.contact-certificates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.code {
    color: #f0f0f0;
    transition: color 0.3s ease-out;
}

.certificates:hover .code {
    color: var(--main-pink);
}

/*Pagina Certificates*/
.container_certificates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    break-inside: avoid;
    margin-top: 8%;
    padding: 20px;
}

.card__certificates {
    display: flex;
    border-radius: 10px;
    background-color: #00000056;
    box-shadow: 0 2px 5px 2px hsla(0, 0%, 0%, 0.541);
    overflow: hidden;
    margin-bottom: 20px;
    width: 85%;
    max-width: 100%;

}

.card__certificates img {
    width: 250px;
    height: auto;
}

.card_content__certificates {
    padding: 20px;
}

.card_content__certificates .subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card_content__certificates p {
    margin-bottom: 10px;
}

.card_content__certificates a {
    text-decoration: none;
    color: var(--main-pink);
}