:root {
    --main-white: #ffffff;
    --main-pink: #e90a63;
    --main-purple: #1c023b;
    --main-gray: #303841;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section-header {
    margin: 0 auto 3rem auto;
    font-size: 4rem;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
}

.code {
    color: #f0f0f0;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: var(--main-pink);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
}

.slick-prev {
    left: -3%;
}

.slick-next {
    right: -3%;
}

.slick-carousel {
    margin: 0 5% 0 5%;
}

.slick-slide {
    margin: 0 10px;
    background: var(--main-purple);
    border-radius: 10px;
}

.slick-carousel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    align-items: center;
}

.skills i {
    font-size: 50px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-text p {
    text-align: center;
    color: var(--main-pink);
    margin-bottom: 5px;
}
.tooltip .tooltip-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    padding:10px;
    margin-top: 20px;
    transform: translateX(-50%);
    width: 200px;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.476);
    color: #fff;
    box-shadow: 0 2px 5px 2px hsla(0, 0%, 0%, 0.334);
    border-radius: 10px;
    text-align: justify;
    white-space: normal;
    z-index: 1;
}

.tooltip-text ul {
    list-style-type: disc;
    margin-left: 0.5em;
    padding-left: 1em;
}

::marker{
    color: var(--main-pink);
}

.tooltip:hover .tooltip-text {
    display: block;
}

@media (max-width: 560px) {

    .projects-section-header {
        font-size: 4.6rem;
    }

    .contact-section-header>h2 {
        font-size: 5.3rem;
    }

    .tooltip .tooltip-text {
        max-width: 100px;
    }
    .skills i {
        font-size:30px;
    }
}