:root {
    --main-white: #ffffff;
    --main-pink: #e90a63;
    --main-purple: #1c023b;
    --main-gray: #303841;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section-header {
    margin: 0 auto 3rem auto;
    font-size: 5rem;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
}

.code {
    color: #f0f0f0;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: var(--main-pink);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
}

.slick-prev {
    left: -3%;
}

.slick-next {
    right: -3%;
}

.slick-carousel {
    margin: 0 5% 0 5%;
}

.slick-slide {
    margin: 0 10px;
    background: var(--main-purple);
    border-radius: 10px;
}

.slick-carousel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: center;
}

.skills i {
    font-size: 50px;
    cursor: pointer;
}

@media (max-width: 28.75em) {

    .slick-prev,
    .slick-next {
        display: none;
    }

    .projects-section-header {
        font-size: 4rem;
    }

    .contact-section-header>h2 {
        font-size: 5rem;
    }
}