.certificates-section {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4rem;
    flex-direction: row;
    margin-bottom: 10%;
}

.certificates-section-header {
    margin-bottom: 5vh;
    flex: 1;
}

.certificates-section-header > p {
    font-style: italic;
    text-align: center;
    color: var(--main-pink);
} 

.certificates-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 4%;
    justify-items: center; 
}

.certificates-link {
    display: block; 
}

.img-container {
    position: relative;
    width: 100%; 
    height: 250px; 
    overflow: hidden;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.certificates-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: rgba(28, 2, 59, 0.9); 
    color: #fff;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    text-align: center; 
}

.img-container:hover .img-content {
    transform: translateY(0); 
}

.img-content a {
    color: var(--main-pink); 
    margin-top: 0.5rem; 
}

/*Pagina Certificates*/

.container_certificates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    break-inside: avoid;
    margin-top: 8%;
    padding: 20px;
}

.card__certificates {
    display: flex;
    border-radius: 10px;
    background-color: #00000056;
    box-shadow: 0 2px 5px 2px hsla(0, 0%, 0%, 0.541);
    overflow: hidden;
    margin-bottom: 20px;
    width: 85%;
    max-width: 100%;
}

.card__certificates img {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.card_content__certificates {
    padding: 20px;
}

.card_content__certificates .subtitle {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card_content__certificates p {
    margin-bottom: 10px;
    color: rgb(255, 230, 230);
}

.card_content__certificates a {
    text-decoration: none;
    color: var(--main-pink);
}

.icon-text i {
    margin-right: 15px;
    font-size: 22px;
}