.contact-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4rem;
    flex-direction: row;
}

.contact-section-header {
    margin-bottom: 5vh;
    flex: 1;
}

.contact-section-header > p {
    font-style: italic;
    text-align: center;
    color: var(--main-pink);
} 

.contact-links {
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}

#contact-form{
    width: 60%;
    filter: drop-shadow(2px 3px rgba(0, 0, 0, 0.853));
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.input,.textarea{
    border-radius: 5px;
    padding: 1rem;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.908));
    background-color: #ffffffe1;
    display: block;
    border: none;
    margin-bottom: 5px;
}

.contact-details {
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

.enviar {
    background: var(--main-purple);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.908));
    color: #f0f0f0;
    transition: color 0.3s ease-out;
    font-size: large;
    display: block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
}

.enviar:hover {
    color: var(--main-pink);
}