body {
  background-color: #000;
  background-image: linear-gradient(50deg, #181719 0%, #2f3133 60%, #181719 100%);
  font-size: 14px;
  padding: 0;
  text-align: justify;
}

.name {
  text-align: center;
  font-size: 22px;
  font-weight: 600;

}

.bold {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.resume {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  margin-top: 10%;
  display: flex;
  box-shadow: 0 2px 5px 2px hsla(0, 0%, 0%, 0.541);
  border-radius: 10px;

}

.resume .resume_left {
  width: 330px;
  background: var(--main-pink);
  border-radius: 10px 0 0 10px;
}


.resume .resume_left .resume_profile img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin: 10% 0 0 10%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: var(--main-purple);
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #e7e7e7;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: var(--main-white);
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon:hover {
  transform: scale(1.1, 1.1);

}

.resume .resume_left ul li {
  color: var(--main-white);
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 55%;
  margin: 0 5px 0 5px;
  height: 5px;
  background: var(--main-purple);
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 920px;
  background: #00000056;
  padding: 25px;
  border-radius: 0 10px 10px 0;
}

.resume .resume_right .bold {
  color: var(--main-pink);
}


.resume .resume_right .resume_education ul,
.resume .resume_right .resume_courses ul,
.resume .resume_right .resume_languages ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}


.resume .resume_right .resume_education ul li:before,
.resume .resume_right .resume_courses ul li:before,
.resume .resume_right .resume_languages ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--main-pink);
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid var(--main-pink);
  border-radius: 50%;
  position: relative;
  color: var(--main-pink);
}

.resume .resume_right .resume_hobby ul li {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: var(--main-pink);
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

.posicao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;

}
.nivel {
  display: flex;
}

.bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--main-purple);
}

.bolinha.ativa {
  background-color: var(--main-white);
}

.resume_item .courses-container {
  display: flex;
  justify-content: space-between;
}

.resume_item .courses-container .course-list {
  width: 48%;
  list-style: none;
  padding-left: 0;
}

.resume_item .courses-container .course-list li {
  margin-bottom: 20px;
}

.btn__baixar {
  background: var(--main-pink);
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.908));
  color: #fff;
  font-size: large;
  display: block;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 11% 0 0 35%;
  position: relative;
}

.btn__baixar:hover {
  transform: scale(1.1, 1.1);
  background-color: #d10d5b;
}

.btn__baixar>i {
  margin-left: 10px;
}

