.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section-header {
    margin: 0 auto 3rem auto;
    font-size: 4rem;
}
 
.project-section {
    margin-bottom: 3%;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.contact-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem; 
    margin-bottom: 4%;
}

.projects-section-header {
    margin: 0;
}

.projects-details{
    font-size: 20px;

}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
}

.code {
    color: #f0f0f0;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: var(--main-pink);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
}

.slick-prev {
    left: -3%;
}

.slick-next {
    right: -3%;
}

.slick-carousel {
    margin: 0 5% 0 5%;
}

.slick-slide {
    margin: 0 10px;
    background: var(--main-purple);
    border-radius: 10px;
}

.slick-carousel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}


.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    align-items: center;
}

.skills i {
    font-size: 50px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-text p {
    text-align: center;
    color: var(--main-pink);
}

.tooltip .tooltip-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    width: 140px;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.476);
    color: #fff;
    box-shadow: 0 2px 5px 2px hsla(0, 0%, 0%, 0.334);
    border-radius: 10px;
    text-align: justify;
    white-space: normal;
    z-index: 1;
    margin-top: 20px;
}


.tooltip:hover .tooltip-text {
    display: block;
}

.tooltip-text ul {
    list-style-type: disc;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

::marker {
    color: var(--main-pink);
}

.contact-details {
    text-align: center;
    width: auto;
}