/* Custom properties/variables */
:root {
  --main-white: #ffffff;
  --main-pink: #e90a63;
  --main-purple: #1c023b;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;

}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--main-white);
  background-image: linear-gradient(to right, #1c1d1e, #000000);
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}


img {
  display: block;
  width: 100%;
}


/* nav */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-pink);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
  width: 100%;
  top: 0;
  padding-left: 5%;
}

.nav-list {
  display: none;
}

.nav-list.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list.active a:hover {
  background: var(--main-pink);
  color: var(--main-gray);
}

.nav-list a {
  display: block;
  font-size: 1.7rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: #d10d5b;
}

.logo {
  height: 50%;
  width: 50px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 30px;
}

.menu-toggle-container {
  margin-left: auto;
}

.menu-toggle-icon {
  width: 25px;
  height: 4px;
  background: var(--main-white);
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.menu-toggle-icon::before,
.menu-toggle-icon::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--main-white);
  position: absolute;
  border-radius: 10px;
  left: 0;
}

.menu-toggle-icon::before {
  top: -10px;
}

.menu-toggle-icon::after {
  top: 10px;
}

.nav-list.active+.menu-toggle .menu-toggle-icon {
  background: transparent;
}

.nav-list.active+.menu-toggle .menu-toggle-icon::before {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

.nav-list.active+.menu-toggle .menu-toggle-icon::after {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}


/* Welcome section */

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4%;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/inicial.png);  
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-section p {
  font-size: 2.8rem;
  font-style: italic;
  color: var(--main-pink);
  margin-bottom: 10%;
}

.text-content {
  text-align: left;
  margin-left: 10%;
}

#typing-text {
  text-align: left;
  text-shadow: 0 0 5px var(--main-pink); 
}

.curriculo {
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white; 
  border-radius: 10px;
  padding: 1rem;
  font-size: 20px;
  transition: border-color 0.3s ease-out;
  text-shadow: 2px 2px 5px #000000;
  cursor: pointer;
}

.curriculo:hover {
  border-color: var(--main-pink);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(50deg, #0e0e0e 0%, #1d1e1f 60%, #0e0e0e 100%);
  border-top: 4px solid var(--main-pink);
}

footer > p {
  margin: 2rem;
  color: var(--main-pink);
}
